<!DOCTYPE HTML>
<html>
    <head>
        
        <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
        <script src="../BingMapModules/DrawingTools/DrawingToolsModule.js"></script>
        <link rel="stylesheet" href="../BingMapModules/DrawingTools/DrawingToolsModule.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="../bower/angular/angular.min.js"></script>

        <script src="../dist/angular-bing-maps.js"></script>
        
        <script type="text/javascript">
            var app = angular.module('angularBingMapExample', ['angularBingMaps']);
            app.controller('ExampleController', function($scope) {

                /*<bing-map> directive options*/
                $scope.mapOptions = {};
                $scope.mapOptions.center = {latitude: 30.614919,longitude: -96.342316};
                $scope.mapOptions.zoom = 6;
                $scope.mapOptions.mapType = 'a';

                /*<drawing-tools> directive options*/
                $scope.drawing = {};
                $scope.drawing.onShapeChange = function(shape) {
                    console.log('User drew this shape: ');
                    console.log(shape);
                    $scope.drawing.currentShape = null;
                }
                $scope.drawing.currentShape = null;

                /*<pushpin> directive options*/
                $scope.pushpin = {};
                $scope.pushpin.location = {latitude: 30.614919,longitude: -96.342316};
                $scope.pushpin.options = {
                    draggable: true
                }

                /*<tile-layer> directive options*/
                $scope.tileLayer = {};
                $scope.tileLayer.source = function (tile) {
                    return 'http://lorempixel.com/100/100?cache=' + tile.x + tile.y + tile.levelOfDetail;
                }
                $scope.tileLayer.options = {
                    opacity: 0.1
                }

                $scope.polygon = {};
                $scope.polygon.locations = [{latitude:35.08906058576126,longitude:-94.67239412499998},{latitude:31.770841429575057,longitude:-94.62844881249998},{latitude:31.770841429575057,longitude:-93.79348787499998},{latitude:33.234716518470485,longitude:-93.83743318749998},{latitude:33.21633594601856,longitude:-92.71682771874998},{latitude:31.789519833501316,longitude:-92.58499178124998},{latitude:31.808194464296854,longitude:-91.75003084374998},{latitude:35.07107926967833,longitude:-91.94778474999998},{latitude:35.03510475037247,longitude:-92.78274568749998},{latitude:33.78433267069338,longitude:-92.76077303124998},{latitude:33.80259300113746,longitude:-93.90335115624998},{latitude:35.10703793826693,longitude:-93.99124178124998},{latitude:35.08906058576126,longitude:-94.67239412499998}];
                $scope.polygon.strokeColor = '#4d1010';
                $scope.polygon.fillColor = '#FFFFFF';
            });
        </script>
        
        <style type="text/css">
            bing-map {
                height: 100%;
                width: 100%;
            }
            .drawing-controls {
                position: absolute;
                bottom: 0;
                right: 0;
            }
            drawing-tools[with-toolbar] {
                position: absolute;
                z-index: 1;
                right: 0;
            }
        </style>
        
    </head>
    <body ng-app="angularBingMapExample">

        <div class="bing-map-container" ng-controller="ExampleController">
            <bing-map
                credentials="'Ao5xSIWVcSkykhWG2CSM1YMj7MaHEMVEbxKXj3GaG-F-ZqNSxlGGaIo1G_N_Eeo5'"
                center="mapOptions.center"
                zoom="mapOptions.zoom"
                mapType="mapOptions.mapType">

                <drawing-tools
                     on-shape-change="drawing.onShapeChange(shapes)"
                     draw-this-shape="drawing.currentShape"
                     with-toolbar>
                </drawing-tools>

                <pushpin
                    lat="pushpin.location.latitude"
                    lng="pushpin.location.longitude"
                    options="pushpin.options">
                </pushpin>

                <tile-layer
                    source="tileLayer.source"
                    options="tileLayer.options">
                </tile-layer>

                <polygon
                    locations="polygon.locations"
                    stroke-color="polygon.strokeColor"
                    fill-color="polygon.fillColor">
                </polygon>
            </bing-map>

            <!-- Custom set of drawing controls -->
            <div class="drawing-controls pull-right">
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="drawing.currentShape = 'circle'" ng-class="{active:drawing.currentShape=='circle'}">Circle</button>
                    <button type="button" class="btn btn-default" ng-click="drawing.currentShape = 'rectangle'" ng-class="{active:drawing.currentShape=='rectangle'}">Square</button>
                    <button type="button" class="btn btn-default" ng-click="drawing.currentShape = 'polygon'" ng-class="{active:drawing.currentShape=='polygon'}">Free-Form</button>
                    <button type="button" class="btn btn-danger" ng-click="drawing.currentShape = null">Cancel</button>
                </div>
            </div>

        </div>

    </body>
</html>
